---
---

<section id="nuxt-effect" class="showcase">
    <h2>Nuxt Effect</h2>
    <div class="container">
        <div id="glow" />
        <img id="logo" src="/images/gyarados.png" />
    </div>
</section>

<script>
const section = document.getElementById('nuxt-effect');
const containerEl = section.querySelector('.container');
const imageEl = containerEl.querySelector('#logo');
const glow = containerEl.querySelector('#glow');

const imageBCR = imageEl.getBoundingClientRect();
const containerBCR = containerEl.getBoundingClientRect();
const left = window.pageXOffset + containerBCR.left;
const top = window.pageYOffset + containerBCR.top;

const container = {
    left,
    top,
    center: {
        x: left + (containerBCR.width / 2),
        y: top + (containerBCR.height / 2),
    }
}

// Good ol' Pythagoras
const distFromCenter = (mouseX, mouseY) => {
    const dist = Math.sqrt(Math.pow(mouseX - container.center.x, 2) + Math.pow(mouseY - container.center.y, 2));
    return Math.floor(dist);
};

section.onmousemove = (event) => {
    // Offset so that the glow is centered on the mouse
    const left = event.clientX - container.left;
    const top = event.clientY - container.top;

    glow.style.left = left + 'px';
    glow.style.top = top + 'px';

    // Just need the x and y coordinates of the mouse (no offset)
    const dist = distFromCenter(event.clientX, event.clientY);
    const glowSize = Math.max(400 - dist / 3, 100);
    glow.style.height = glowSize + 'px';
    glow.style.width = glowSize + 'px';
    glow.style.transform = `translate(-${glowSize / 2}px, -${glowSize / 2}px)`;

    glow.style.opacity = Math.max(glowSize / 400, 0.4);

    const maskGradient = `radial-gradient(circle at ${event.clientX - imageBCR.left}px ${event.clientY - imageBCR.top}px, black 5%, transparent 100%)`;
    imageEl.style.webkitMaskImage = maskGradient;
}
</script>

<style>
.container {
    background-color: #000000;
    overflow: hidden;
}

.container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    pointer-events: none;
}

#glow {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center;
    transform: translate(-100px, -100px);

    height: 200px;
    width: 200px;

    background-color: #3ec4f1;
    border-radius: 50%;

    pointer-events: none;

    filter: blur(50px);
}
</style>
